@charset "utf-8";
/* CSS Document */
ul{
	list-style: none;
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	
	
}
#search {
	
	width: 20px;
	

	background-color: aquamarine;
	border-radius: 20px;
}
#search:focus{
	width: 110px;
}
input[type=text]{
	width: 100px;
}
#musick{
	text-align: center;
	margin-top: 300px;
}
body{
	background-color: #05AA31;
}
#b{
	background-color: cadetblue;
	
	border-radius: 20px;
	float: left;
	
	margin-bottom: 60px;
	margin-left:  65px;
	width: 190px;
	height: 140px;
	text-align: center;
	color: aliceblue;
	
	overflow: hidden;
	
	
}
#b:hover{
	background-color:antiquewhite;
	
	border-radius: 20px;
	float: left;
	
	width: 250px;
	height: 200px;
	text-align: center;
	color: aliceblue;
	
}




li{
	float: left;
	
}
li a{
	color: aqua;

	list-style: none;
	height:200px;
	padding-top: 20px;
	padding-bottom:30px;
	padding-right: 60px;
	text-decoration: none;
	text-align: center;
	
}
li a:hover:not(.activ){
	color: beige;
	background-color:cornsilk ;
}
.activ{
	background-color: darkgray;
}
#s{
	border: outset;
	border-color: aqua;
	border-radius: 20px;
	width: 500px;
	margin-bottom: 40px;
	margin-left: 100px;
}
#button{
	background-color: aqua;
	margin-bottom: 50px;
}
#button:hover{
	background-color: bisque;
}
#q{
	margin-top:80px;
	border: inset #B33336 ;
	border-radius: 20px;
	width: 400px; 
	height: 500px;
	background-color: darkcyan;
}
#h{
	margin-top:400px;
	border: inset #B33336 ;
	border-radius: 20px;
	width: 500px; 
	height: 50px;
	background-color: darkcyan;
}
