@charset "utf-8";
/* CSS Document */
#b{
	background-color: aqua;
}
#b:hover{
	background-color: bisque;
}
div{
	margin-top:70px;
	border: inset #B33336 ;
	border-radius: 20px;
	width: 400px; 
	height: 500px;
	background-color: darkcyan;
}
